<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sideproject.mercy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DefaultMercy"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".presentation.ui.splash.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.onboarding.view.OnBoardingActivity"/>
        <activity android:name=".presentation.ui.account.signin.view.SignInActivity"/>
        <activity android:name=".presentation.ui.interests.main.view.InterestsMainActivity"/>

        <activity
            android:name=".presentation.ui.main.view.MainActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".presentation.common.activity.PermissionCheckActivity"/>
        <activity android:name=".presentation.ui.webview.view.WebViewActivity"/>
        <activity android:name=".presentation.ui.survey.SurveyActivity"/>
        <activity android:name=".presentation.ui.account.welcome.view.WelcomeActivity"/>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="sideproject.mercy.startup.AppInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="sideproject.mercy.startup.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="sideproject.mercy.startup.ThreeTenInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>